<ion-header [translucent]="true" >
    <meta name="google-signin-client_id" content="469802607999-eeqabie4pldo5f8o81194n0np6ppkmmj.apps.googleusercontent.com">
    <ion-toolbar class="background2 ">
     <img id="img1" src="../../assets/icon/uca4.png" >
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="background">
   <!-- <ion-card>
      <ion-card-content> email : {{ userInfo }}</ion-card-content>
      <ion-card-content> Access Token : {{ userAccessToken }}</ion-card-content>
      <ion-card-content> Access Token Id : {{ userAccessTokenId }}</ion-card-content>
    </ion-card> -->
    <div id="container" style="margin-top: 20%;">
    <ion-button size="large" (click)="googleSingIn()">Sing in with google</ion-button>
   <!-- <ion-button [routerLink]="['/qrcode']">Go to detail</ion-button>-->
  </div>
  </ion-content>